<div class="container otherview">
  <div class="row">
    <div class="col-xs-12">
        <ul class="breadcrumb">
            <li><a [routerLink]="['/']">{{'HomeLink' | translate}}</a></li>
            <li class="active">{{'OtherLink' | translate}}</li>
        </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div *ngFor = "let other of others">
        <div class="col-md-4 col-sm-6 col-xs-12" *ngIf="other.type == 'en'">
            <div class="thumbnail">
              <img src="{{other.pic}}" style="height: 230px" alt="activity">
              <div class="caption">
                <h3>{{other.name}}</h3>
                <div class="row">
                  <div class="col-xs-12">
                    <p>{{'Others.StartTitle' | translate}} {{other.startingDate}}</p>
                    <div *ngIf="other.description != undefined">
                      <p>{{other.description}}</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  