<header class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-sm-offset-1">
        <h1>Amandine Ribot</h1>
        <p style="padding:20px;"></p>
        <p>{{ 'Home.Motivation' | translate }}</p>
      </div>
      <div class="col-xs-9 col-sm-4 head">
        <p style="padding:20px;"></p>
        <img
          src="https://drive.google.com/uc?id=1F1zFUV2kXusr8hiFLIU3YqyZpEg3eMrt"
          class="img-circle img-responsive"
        />
      </div>
    </div>
  </div>
</header>

<div class="container home">
  <div class="col-sm-7">
    <div *ngFor="let work of works | slice: 0:2">
      <div
        class="row row-content"
        *ngIf="
          (lang == 'en' && work.type == 'en') ||
          (lang == 'fr' && work.type == 'fr')
        "
      >
        <h3>{{ 'Home.RecentJob' | translate }}</h3>
        <div class="col-xs-4">
          <img src="{{ work.logo }}" alt="job" />
        </div>
        <div class="col-xs-8">
          <h3>{{ work.name }}</h3>
          <small
            ><span class="label label-info"
              >{{ work.country }} - {{ work.state }} {{ work.town }}</span
            ></small
          >
          <h4>{{ work.title }}</h4>
          <p>{{ work.startingDate }} - {{ work.endingDate }}</p>
          <p>{{ work.descriptionHalf }}</p>
          <a class="link" [routerLink]="['/works']"
            >{{ 'Home.DetailLink' | translate }} &raquo;</a
          >
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div *ngFor="let edu of edus | slice: 0:2">
      <div
        class="row row-content"
        *ngIf="
          (lang == 'en' && edu.type == 'en') ||
          (lang == 'fr' && edu.type == 'fr')
        "
      >
        <h3>{{ 'Home.RecentEdu' | translate }}</h3>
        <div class="col-xs-4">
          <img src="{{ edu.logo }}" alt="education" />
        </div>
        <div class="col-xs-8">
          <h3>{{ edu.schoolname }}</h3>
          <small
            ><span class="label label-info"
              >{{ edu.country }} - {{ edu.state }} {{ edu.town }}</span
            ></small
          >
          <p class="diploma">{{ edu.level }} - {{ edu.diploma }}</p>
          <a class="link" [routerLink]="['/edus']"
            >{{ 'Home.DetailLink' | translate }} &raquo;</a
          >
        </div>
      </div>
    </div>
  </div>
  <h3>{{ 'Home.DownloadCV' | translate }}</h3>
  <div class="col-xs-12 col-sm-3 embed-responsive embed-responsive-16by9">
    <iframe
      src="https://drive.google.com/file/d/1yMwbIp2z32DA2MWjFFnxDcuphfsnqad8/preview"
    ></iframe>
  </div>
</div>
