<footer class="row-footer">
  <div class="container">
      <div class="row">             
          <div class="col-xs-3 col-md-3 col-md-offset-1">
              <h5>{{ 'LinkTitle' | translate }}</h5>
              <ul class="list-unstyled col-sm-6">
                  <li><a [routerLink]="['/']">{{ 'HomeLink' | translate }}</a></li>
                  <li><a [routerLink]="['/edus']">{{ 'EduLink' | translate }}</a></li>
                  <li><a [routerLink]="['/works']">{{ 'WorkLink' | translate }}</a></li>
                </ul>
                <ul class="list-unstyled col-sm-6">
                  <li><a [routerLink]="['/skills']">{{ 'SkillLink' | translate }}</a></li>
                  <li><a [routerLink]="['/others']">{{ 'OtherLink' | translate }}</a></li>
                  <li><a [routerLink]="['/contacts']">{{ 'ContactLink' | translate }}</a></li>
              </ul>
          </div>
          <div class="col-xs-5 col-md-3 col-md-offset-1">
              <h5>Contacts</h5>
              <address>
            Morgantown, WV, USA<br>
            <i class="glyphicon glyphicon-phone"></i> +1 601 642 7174<br>
            <i class="glyphicon glyphicon-envelope"></i>
                   <a href="mailto:amandineribot01@gmail.com">
                   amandineribot01@gmail.com</a><br>
                   <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/amandine-ribot-b8025a98/" target="blank"><i class="fa fa-linkedin"></i></a>
                <a class="btn btn-social-icon btn-github" href="https://github.com/arib7701" target="blank"><i class="fa fa-github"></i></a>
              </address>
          </div>
          <div class="col-xs-2">
              <p style="padding-top:10px;"></p>
              <p align="left">©Copyright 2018</p>
          </div>
      </div>
  </div>
</footer>